@import "vars";

.footer {
  margin-top: 133px;
  &__inner {
    padding: 0 1px 0 6px;
    position: relative;
    display: flex;
    justify-content: space-between;
    &::before {
      position: absolute;
      border-top: 1px solid #c4c4c4;
      content: "";
      left: 6px;
      right: 6px;
    }
  }
  &__menu {
    display: flex;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 58px;
    list-style: none;
  }
  &__logo {
    margin-top: 31px;
    margin-bottom: 64px;
  }
  &__item + &__item {
    list-style: disc;
    list-style-position: inside;
    color: $grey;
    margin-left: 10px;
  }
  &__link1 {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: $grey;
    text-decoration: none;
    margin-left: -8px;
  }
  &__link {
    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: $grey;
    text-decoration: none;
  }
}
