@import "vars";

.header {
  margin-bottom: 51px;
  &__inner {
    padding: 0 6px 0 4px;
    display: flex;
    align-items: center;
    margin-top: 53px;
  }
  &__nav-toggle {
    display: none;
  }
  &__nav {
    margin-left: 253px;
  }
}
