@import "vars";

@media screen and (max-width: 767px) {
  .container {
    max-width: 735px;
  }
  /*----HEADER----*/
  .header {
    margin-bottom: 40px;
    &__inner {
      padding: 0 23px 0 22px;
      margin-top: 39px;
      justify-content: space-between;
      align-items: none;
    }
    &__nav {
      display: none;
    }
    &__nav-toggle {
      display: flex;
      border: none;
      background-color: white;
      padding: 0 0 28px 0;
    }
  }
  /*----HERO----*/
  .hero {
    margin-bottom: 56px;
    &__inner {
      padding: 0 0 0 23px;
      grid-template-columns: 337px 352px;
      gap: 23px;
      grid-template-rows: 357px;
    }
    &__img {
      max-width: 352px;
      margin: 0;
      padding: 0 0 5px 0;
    }
    &__info {
      font-weight: 600;
      font-size: 36px;
      line-height: 45px;
      padding: 28px 120px 25px 0;
      margin: 0;
    }
    &__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      margin: 0;
      padding: 0 0 51px 0;
    }
    &__link {
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      padding: 19px 67px;
      margin: 0;
    }
    &__item {
      padding: 0 101px 0 0;
    }
  }
  /*----*/
  .skills {
    &__inner {
      padding: 0 14px 0 23px;
    }
    &__title {
      font-weight: 600;
      font-size: 30px;
      line-height: 80px;
    }
    &__wrapper {
      padding-top: 36px;
      grid-template-columns: 224px 227px 228px;
      grid-gap: 10px;
    }
    &__box1 {
      max-height: 662px;
    }
    &__photo1 {
      max-height: 214px;
      margin: 31px 9px 0 1px;
      padding: 0;
    }
    &__wrapper-title {
      font-weight: 600;
      font-size: 20px;
      line-height: 69px;
    }
    &__wrapper-title1 {
      padding: 2px 111px 0 17px;
      line-height: 66px;
    }
    &__wrapper-text {
      font-weight: 400;
      font-size: 13px;
      line-height: 19.5px;
    }
    &__wrapper-text1 {
      padding: 0 8px 36px 17px;
    }
    &__wrapper-text1-2 {
      padding: 31px 10px 0 0;
    }
    &__a1 {
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      padding: 14px 43px;
    }
    &__link1 {
      padding: 0 29px 37px 17px;
    }
    &__box2 {
      max-height: 441px;
    }
    &__photo2 {
      max-width: 200px;
      max-height: 200px;
      margin: 14px 24px -42px 3px;
    }
    &__wrapper-title2 {
      margin: 0;
      padding: 0 136px 4px 16px;
    }
    &__wrapper-text2 {
      padding: 0 20px 33px 19px;
    }
    &__a {
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      padding: 14px 43px;
    }
    &__link2 {
      padding: 0 33px 27px 16px;
    }
    &__box3 {
      max-height: 442px;
    }
    &__photo3 {
      max-height: 144px;
      margin: 34px 14px 0 2px;
    }
    &__wrapper-title3 {
      line-height: 63px;
      padding: 0 125px 0 18px;
      margin: 0;
    }
    &__wrapper-text3 {
      padding: 0 20px 36px 18px;
    }
    &__link3 {
      padding: 0 29px 28px 21px;
    }
    &__box4 {
      max-width: 462px;
      max-height: 210px;
      grid-template-columns: 271px 191px;
    }
    &__photo4 {
      max-width: 202px;
      max-height: 134px;
      margin: 59px 0 17px 0;
    }
    &__wrapper-title4 {
      line-height: 59px;
      padding: 0 200px 0 22px;
    }
    &__wrapper-text4 {
      margin: 0 -5px 0 22px;
      padding: 0;
    }
    &__link4 {
      padding: 29px 72px 26px 21px;
    }
  }
  /*----ABOUT US----*/
}
